.App {
  text-align: center;
  min-height: 100vh;
}
.night {
  background-color: #282c34;
  color: white;
}
.mr-3 {
  margin-right: 30px;
}
.mt-3 {
  margin-top: 30px;
}

.btn {
  background-color: azure;
  border: 1px solid black;
  box-shadow: 10px 5px 5px rgb(48, 2, 2);
  font-size: calc(10px + 2vmin);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
